<div class="panel panel-primary" (click)="handleClick()"  [class.panel-success] ="selectedEmployeeId == employee.id">
      
    <div class="panel-heading">{{ employee.name }}</div>
    <div class="panel-body">
        <div class="row" >
            <div class="col-md-4"  >

                  <img class="imageClass" src="{{ employee.photopath }}">

            </div>
          <div class="col-md-8 ">
                <div class="row">
                      <div class="col-md-6">
                            Gender
                      </div>
                      <div class="col-md-6">
                          :{{ employee.gender }}
                    </div>
                </div> 

                <div class="row">
                    <div class="col-md-6">
                        Contact Preference
                  </div>
                  
                  <div class="col-md-6">
                      :{{ employee.contactPreference }}
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        Email
                  </div>
                  <div class="col-md-6">
                      :{{ employee.email }}
                  </div>
                </div>
              
            <div class="row">
                <div class="col-md-6">
                  Department
                </div>
            
              <div class="col-md-6"  [ngSwitch]="employee.department">
                    <span *ngSwitchCase="1">Hr  </span>
                    <span *ngSwitchCase="2">It  </span>
                    <span *ngSwitchCase="3">CSE  </span>
                    <span *ngSwitchDefault>Payroll </span>

              </div>
            </div> 

            <div class="row">
            <div class="col-md-6">
                Is Active
          </div>
          <div class="col-md-6">
              :{{ employee.isActive }}
          </div>
        </div>

          </div>
      </div>
    </div>
    <div class="panel-footer">
      <button style="margin:2px" (click)="viewEmployee()"  class="btn b btn-primary"> View </button>
      <button style="margin:2px"  (click)="editEmployee()"  class="btn b btn-primary"> Edit </button>
     <span *ngIf="ConfirmDelete">
       <span> Are You sure want to delete ?</span>
       <button style="margin:2px"  (click)="deleteEmployee()" class="btn b btn-danger"> Yes </button>
       <button style="margin:2px"  (click)="ConfirmDelete = false" class="btn b btn-danger"> No </button>

      </span>
      <span *ngIf="!ConfirmDelete">
          <button style="margin:2px"  (click)="ConfirmDelete = true" class="btn b btn-danger"> Delete </button>

      </span>
    </div> 
</div>
