<!-- <h1 *ngIf="dataFromChild"> {{ dataFromChild.name  + '  ' + dataFromChild.email }}</h1>
<span> ----- </span>
<h1 #h1Variable>  </h1>
<div *ngFor="let employee of employees">
        <div (click) = "h1Variable.innerHTML=childComponent.employee.name" >
                <app-display-employee #childComponent  [employee] ="employee"  (notify)="handleNotify($event)" ></app-display-employee>
        </div>
</div>     -->
    
<!-- <button (click)="nextEmployee()" class="btn btn-primary"> View Next Employee </button><br><br>

    <app-display-employee [employee] ="employeeToDisplay"></app-display-employee> -->

    <div *ngFor="let employee of employees">
                <div (click)="onClick(employee.id)" >
                        <app-display-employee  [employee] ="employee"  (notify)="handleNotify($event)"></app-display-employee>
                </div>
    </div> 