<!-- <h1 *ngIf="dataFromChild"> {{ dataFromChild.name  + '  ' + dataFromChild.email }}</h1>
<span> ----- </span>
<h1 #h1Variable>  </h1>
<div *ngFor="let employee of employees">
        <div (click) = "h1Variable.innerHTML=childComponent.employee.name" >
                <app-display-employee #childComponent  [employee] ="employee"  (notify)="handleNotify($event)" ></app-display-employee>
        </div>
</div>     -->
    
<!-- <button (click)="nextEmployee()" class="btn btn-primary"> View Next Employee </button><br><br>

    <app-display-employee [employee] ="employeeToDisplay"></app-display-employee> -->

    <div class="form-group">
        <input type="text"  style="width: 300px" 
        [(ngModel)]="searchTerm" name="emp" class="form-control" placeholder="Search By Name"  >
    </div>
    
    
     <button class="btn btn-primary" (click)="changeEmployeeName()" > ChangeName </button><br/><br/><br/>

    <!-- <div *ngFor="let employee of employees |  employeeFilter:searchTerm" (mousemove)="onMouseMove()" >
                <div (click)="onClick(employee.id)" >
                        <app-display-employee  [employee] ="employee"  (notify)="handleNotify($event)"></app-display-employee>
                </div>
    </div> -->

<div *ngFor="let employee of filteredEmployees" (mousemove)="onMouseMove()" >
        <div  >
                <app-display-employee  [employee] ="employee" [searchTerm] = "searchTerm" 
                 (notify)="handleNotify($event)"  (notifyDelete)= "onDeleteNotification($event)" ></app-display-employee>
        </div>
</div>